.fixed-top{
    background-color: #2C3639;
}

.btn{
    background-color: #2C3639;
}

@font-face {
    font-family: 'K2D';
    src: url(/font/K2D-Medium.ttf);
}

body {
    font-family: 'K2D';
}

.formreg {
    padding-top: 150px;
}

.kartu {
    max-width: 22rem;
    min-width: 18rem;
    max-height: 25rem;
}

.jum {
    background-image: url(/img/Rectangle\ 1.png);
    height: 99.7vh;
    width: 49.3vw;
}